#
# 时区配置
#
TIME_ZONE=Asia/Shanghai

#
# Alpine 镜像源配置
#
ALPINE_MIRROR=mirrors.cloud.tencent.com

#
# PHP 配置
# https://hub.docker.com/_/php/
#
PHP_VERSION=8.4-fpm-alpine
PHP_EXTENSIONS=redis,memcached,opcache,pdo_mysql,mysqli,zip,gd,imagick,igbinary,bz2,exif,bcmath,intl
PHP_COMPOSER_MIRROR=mirrors.cloud.tencent.com

#
# Openresty 配置
# https://hub.docker.com/r/openresty/openresty
#
OPENRESTY_VERSION=1.27.1.2-3-alpine
OPENRESTY_HTTP_PORT=80
OPENRESTY_HTTPS_PORT=443

#
# MariaDB 配置
# https://hub.docker.com/_/mariadb/
#
MARIADB_VERSION=11.8
MARIADB_DATABASE_NAME=monolith

#
# phpMyAdmin 配置
# https://hub.docker.com/_/phpmyadmin/
#
PHPMYADMIN_VERSION=5.2
PHPMYADMIN_WEB_PORT=28080
PHPMYADMIN_UPLOAD_LIMIT=128M

#
# Memcached 配置
# https://hub.docker.com/_/memcached/
#
MEMCACHED_VERSION=1.6-alpine

#
# Redis 配置
# https://hub.docker.com/_/redis/
#
REDIS_VERSION=8.2-alpine
