#
# Time Zone Config
#
TIME_ZONE=Asia/Shanghai

#
# Alpine Mirrors Config
#
# List of mirrors:
#   dl-cdn.alpinelinux.org
#   mirrors.cloud.tencent.com
#   mirrors.aliyun.com
#   mirrors.huaweicloud.com
#   mirrors.ustc.edu.cn
#   mirrors.tuna.tsinghua.edu.cn
#
ALPINE_MIRROR=mirrors.cloud.tencent.com

#
# PHP Config
# https://hub.docker.com/_/php/
#
# Supported PHP 8.3 Extensions：
#   amqp,apcu,ast,bcmath,bitset,blackfire,bz2,calendar,cassandra,csv,
#   dba,ddtrace,decimal,ds,enchant,ev,event,excimer,exif,
#   ffi,gd,geos,geospatial,gettext,gmagick,gmp,gnupg,grpc,http,
#   igbinary,imagick,imap,inotify,intl,ion,ioncube_loader,json_post,jsonpath,
#   ldap,luasandbox,lz4,lzf,mailparse,maxminddb,memcache,memcached,memprof,
#   mongodb,msgpack,mysqli,oauth,oci8,odbc,opcache,openswoole,
#   opentelemetry,parallel,parle,pcntl,pcov,pdo_dblib,pdo_firebird,pdo_mysql,pdo_oci,
#   pdo_odbc,pdo_pgsql,pdo_sqlsrv,pgsql,php_trie,pkcs11,pq,protobuf,pspell,
#   raphf,rdkafka,redis,relay,seasclick,shmop,simdjson,smbclient,
#   snappy,snmp,snuffleupagus,soap,sockets,solr,sourceguardian,spx,sqlsrv,
#   ssh2,stomp,swoole,sync,sysvmsg,sysvsem,sysvshm,tideways,
#   tidy,timezonedb,uploadprogress,uuid,uv,vips,xdebug,xdiff,
#   xhprof,xlswriter,xmldiff,xmlrpc,xsl,yac,yaml,zephir_parser,zip,zmq,zstd
#
# PHP Environment: production, development
#
PHP_VERSION=8.4-fpm-alpine
PHP_EXTENSIONS=redis,memcached,opcache,pdo_mysql,mysqli,zip,gd,imagick,igbinary,bz2,exif,bcmath,intl
PHP_ENVIRONMENT=production

#
# Openresty Config
# https://hub.docker.com/r/openresty/openresty
#
OPENRESTY_VERSION=1.27.1.2-1-alpine
OPENRESTY_HTTP_PORT=80
OPENRESTY_HTTPS_PORT=443

#
# MariaDB Config
# https://hub.docker.com/_/mariadb/
#
DB_MARIADB_VERSION=11.4
DB_MARIADB_DATABASE_NAME=monolith

#
# phpMyAdmin Config
# https://hub.docker.com/_/phpmyadmin/
#
PHPMYADMIN_VERSION=5.2
PHPMYADMIN_WEB_PORT=28080
PHPMYADMIN_UPLOAD_LIMIT=128M

#
# Memcached Config
# https://hub.docker.com/_/memcached/
#
MEMCACHED_VERSION=1.6-alpine

#
# Redis Config
# https://hub.docker.com/_/redis/
#
REDIS_VERSION=8.0-alpine
