# ----------------------------------------------------------------------------
# 基础配置
# ----------------------------------------------------------------------------

# 时区设置
TIME_ZONE=Asia/Shanghai

# ----------------------------------------------------------------------------
# 镜像仓库配置
# ----------------------------------------------------------------------------

# 可选镜像源:
#   - seatonjiang
#   - ghcr.io/seatonjiang
#   - docker.cnb.cool/seatonjiang/monolith
IMAGE_REGISTRY=docker.cnb.cool/seatonjiang/monolith

# ----------------------------------------------------------------------------
# 系统镜像源配置
# ----------------------------------------------------------------------------

# Alpine Linux 推荐镜像源:
#   - mirrors.ustc.edu.cn
#   - mirrors.tuna.tsinghua.edu.cn
#   - mirrors.aliyun.com
#   - mirrors.cloud.tencent.com
ALPINE_MIRROR=mirrors.cloud.tencent.com

# Ubuntu 推荐镜像源:
#   - mirrors.ustc.edu.cn
#   - mirrors.tuna.tsinghua.edu.cn
#   - mirrors.aliyun.com
#   - mirrors.cloud.tencent.com
UBUNTU_MIRROR=mirrors.cloud.tencent.com

# ----------------------------------------------------------------------------
# Web 服务器配置
# ----------------------------------------------------------------------------

# PHP 配置
# 支持版本: 8.3-fpm-alpine, 8.4-fpm-alpine, 8.5-fpm-alpine
PHP_VERSION=8.5-fpm-alpine

# Caddy 配置
# 支持版本: alpine
CADDY_VERSION=alpine
CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443

# ----------------------------------------------------------------------------
# 数据库配置
# ----------------------------------------------------------------------------

# MariaDB 配置
# 支持版本: 11.4, 11.8
MARIADB_VERSION=11.8
MARIADB_DATABASE_NAME=monolith

# phpMyAdmin 配置
# 支持版本: 5.2
PHPMYADMIN_VERSION=5.2
PHPMYADMIN_WEB_PORT=28080
PHPMYADMIN_UPLOAD_LIMIT=128M

# ----------------------------------------------------------------------------
# 缓存服务配置
# ----------------------------------------------------------------------------

# Redis 配置
# 支持版本: 8.4-alpine
REDIS_VERSION=8.4-alpine

# Memcached 配置
# 支持版本: 1.6-alpine
MEMCACHED_VERSION=1.6-alpine
