################# 全局配置 ##################
{
    # 禁止 HTTP 到 HTTPS 重定向
    auto_https disable_redirects

    # 使用 Google Trust Services 签发证书（选配）
    # acme_ca https://dv.acme-v02.api.pki.goog/directory
    # acme_eab {
    #     key_id <key_id>
    #     mac_key <mac_key>
    # }

    # 电子邮件地址
    email name@example.com
}

################# 测试环境 ##################
:80 {
    root * /var/www/default

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        -Server
        -Via
    }

    encode gzip

    php_fastcgi php:9000 {
        index index.php
    }

    file_server {
        index index.php index.html
    }
}
